.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 30px;
    box-sizing: border-box;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
            font-size: 18px;
            font-weight: 600;
            &:not(:last-child) {
                margin-right:40px;
            }
        }
    }
}