@import "../../styles/index.scss";
.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 30px;
    box-sizing: border-box;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        .link{
            text-decoration: none;
            li {
                font-size: 18px;
                font-weight: 600;
                color: white;
                margin-right: 40px;
                transition: all .3s;
            }
            li:hover {
                color: $color-normal-brown;
            }
        }
        
    }
}