@import '../../styles/index.scss';

.homepage {
    &__banner {
        position:relative;
        img {
            width: 120%;;
        
        }
        &--text {
            width:40%;
            z-index: 100;
            position: absolute;
            top:50%;
            left:80px;
            transform: translate(0%, -50%);
            display: flex;
            flex-direction: column;
            .subtitle {
                font-size:16px;
                color: $color-normal-brown;
                font-weight: 600;
            }
            .title {
                font-size: 50px;
                margin:15px 0px;
                font-family: 'Prata';
            }
            .container-price {
                margin:15px 0px;
                font-size: 20px;
                font-weight: 400;
                span {
                    font-size: 30px;
                    font-weight: 600;
                    color:$color-normal-brown;
                }
            }
            .btn-now {
                width:150px;
                border:2px solid $color-normal-brown;
                border-radius: 5px;
                text-align: center;
                padding:12px 0px;
                margin:10px 0px;
            }
        }
    }
    .promo {
        margin: 70px 0px 40px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        &__item {
            position:relative;
            overflow: hidden;
            height:240px;
            cursor: pointer;
            &:hover img{
                transform: scale(1.05);
            }
            img {
                border-radius: 10px;
                transition:all .3s;
            }
            &--text {
                position:absolute;
                display: flex;
                flex-direction: column;
                top:50%;
                left:25px;
                .title {
                    color: $color-normal-brown;
                    font-family: 'Prata';
                    font-size: 28px;
                    margin: 7px 0px;
                }
            }
        }
    }
    .tweet {
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 40px;
        a {
            color: $color-normal-brown;
        }
    }
}