.loading__container{
   width: 100ww;
   height: 100wh;
   display: flex;
   align-items: center;
   justify-content: center;
   .loading{
      display: block;
      margin: auto;
      width: 100px;
   }
}
