@import "../../styles/index.scss";

.blog{
    display: flex;
    flex-direction: column;
    width: 370px;
    position: relative;
    padding: 20px 20px;
    background-color:#343434;
    &__image{
        margin: auto;
        margin-bottom: 15px;
        height: 230px;
    }
    .blog__info{
        display: flex;
        justify-content: space-between;
        .author{
            font-size: 17px;
            font-weight: 500;
            color: #afafaf;
            margin-bottom: 15px;
            &__name{
                color: $color-normal-brown;
            }
        }
        .date{
            color: $color-normal-brown;
        }
    }
    &__title{
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1.5px;
        transition: all 0.3s;
        cursor: pointer;
        height: 90px;
        color: white;
    }
    &__title:hover{
        color: $color-normal-brown;
    }
    &__short{
        color: #afafaf;
        font-size: 15px;
        line-height: 25px;
        height: 75px;
        margin-bottom: 15px;
    }
    .btn {
        width: fit-content;
        background-color: $color-normal-brown;
        border-radius: 5px;
        text-align: center;
        padding:12px 15px;
        margin:10px 0px;
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 5px;
        color: white;
    }
    .btn:hover{
        background-color: #6c757d;
    }
    
}
.link{
    text-decoration: none;
}